# Stellaris Game 3 Statistics

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# file paths
populationPath = "data/population.csv"
techScorePath = "data/techScore.csv"
economyScorePath = "data/economyScore.csv"

In [9]:
# read in all csvs
population = pd.read_csv(populationPath)
techScore = pd.read_csv(techScorePath)
economyScore = pd.read_csv(economyScorePath)

In [4]:
population

,Year,Patrick,Boxes,Noodles,Andrew,Godspeace,Darren,Kage,Usagi,Johnny
0,2219,43,42,NaN,NaN,NaN,,NaN,NaN,NaN
1,2220,44,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2221,45,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2222,49,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2223,50,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2224,50,45,52.0,43.0,57.0,66,54.0,NaN,NaN
6,2225,54,44,55.0,43.0,59.0,69,54.0,NaN,NaN
7,2231,63,49,67.0,47.0,67.0,80,64.0,69.0,52.0
8,2236,83,56,81.0,52.0,81.0,108,75.0,87.0,60.0
9,2241,100,59,92.0,57.0,95.0,130,86.0,95.0,67.0
10,2262,210,80,149.0,87.0,43.0,257,155.0,152.0,128.0
11,2273,294,99,187.0,108.0,58.0,326,183.0,190.0,174.0
12,2275,322,103,196.0,114.0,62.0,348,192.0,192.0,199.0
13,2278,342,120,204.0,119.0,66.0,369,199.0,199.0,224.0
14,2281,376,129,216.0,130.0,70.0,394,216.0,210.0,245.0
15,2284,421,136,199.0,139.0,78.0,434,236.0,224.0,265.0
16,2287,446,143,191.0,149.0,82.0,466,253.0,233.0,282.0
17,2288,469,146,193.0,152.0,84.0,474,259.0,237.0,292.0
18,2289,473,146,195.0,153.0,84.0,482,265.0,239.0,299.0
19,2290,482,149,202.0,157.0,86.0,497,272.0,244.0,303.0
20,2291,489,149,205.0,159.0,89.0,509,277.0,244.0,305.0
21,2292,502,151,207.0,160.0,89.0,515,284.0,247.0,315.0

In [5]:
techScore

,Year,Patrick,Boxes,Noodles,Andrew,Godspeace,Darren,Kage,Usagi,Johnny
0,2225,286,198,228,262,309,205,302,372,291
1,2233,404,264,329,405,440,315,439,505,379
2,2237,461,311,365,465,480,361,505,575,431
3,2241,541,355,428,516,541,440,561,654,525
4,2273,1130,625,994,1014,956,1454,1275,1520,1531
5,2275,1226,625,1052,1078,1068,1586,1340,1592,1724
6,2277,1271,661,1128,1116,1148,1711,1356,1649,1862
7,2281,1401,712,1188,1152,1318,1930,1499,1761,2082
8,2284,1662,756,1266,1218,1488,2130,1615,1916,2311
9,2287,1934,821,1492,1311,1488,2379,1740,2078,2639
10,2288,2096,862,1526,1336,1529,2479,1740,2208,2809
11,2289,2166,882,1562,1356,1529,2559,1740,2258,2881
12,2290,2262,906,1594,1374,1579,2619,1865,2372,2961
13,2291,2312,948,1672,1388,1579,2672,1894,2444,3018
14,2292,2502,961,1698,1415,1579,2742,1935,2480,3068

In [6]:
economyScore

,Year,Patrick,Boxes,Noodles,Andrew,Godspeace,Darren,Kage,Usagi,Johnny
0,2225,584,511,620,958,549,759,531,497,668
1,2233,552,562,763,1061,726,967,660,598,727
2,2237,671,621,810,800,759,1174,767,684,759
3,2241,793,649,914,868,753,1260,837,784,854
4,2273,2236,1109,1907,1309,493,3003,1762,1844,1583
5,2275,2417,1194,2031,1336,481,3228,1845,1965,1810
6,2277,2564,1334,2227,1373,532,3456,1987,2069,1984
7,2281,2771,1521,2405,1420,572,3866,2306,2192,2229
8,2284,2998,1515,2253,1464,614,4006,2566,2289,2411
9,2287,3437,1497,2402,1572,680,4411,2627,2489,2517
10,2288,3488,1515,2365,1600,713,4514,2809,2678,2616
11,2289,3492,1513,2429,1623,712,4569,2771,2672,2673
12,2290,3493,1522,2495,1793,728,4676,2716,2703,2720
13,2291,3519,1540,2552,1796,743,4729,2794,2815,2727
14,2292,3679,1567,2608,1713,742,4758,2734,2819,2783

In [11]:
population = population.dropna(axis=0, how='any').reset_index(drop=True)
population

,Year,Patrick,Boxes,Noodles,Andrew,Godspeace,Darren,Kage,Usagi,Johnny
0,2231,63,49,67.0,47.0,67.0,80,64.0,69.0,52.0
1,2236,83,56,81.0,52.0,81.0,108,75.0,87.0,60.0
2,2241,100,59,92.0,57.0,95.0,130,86.0,95.0,67.0
3,2262,210,80,149.0,87.0,43.0,257,155.0,152.0,128.0
4,2273,294,99,187.0,108.0,58.0,326,183.0,190.0,174.0
5,2275,322,103,196.0,114.0,62.0,348,192.0,192.0,199.0
6,2278,342,120,204.0,119.0,66.0,369,199.0,199.0,224.0
7,2281,376,129,216.0,130.0,70.0,394,216.0,210.0,245.0
8,2284,421,136,199.0,139.0,78.0,434,236.0,224.0,265.0
9,2287,446,143,191.0,149.0,82.0,466,253.0,233.0,282.0
10,2288,469,146,193.0,152.0,84.0,474,259.0,237.0,292.0
11,2289,473,146,195.0,153.0,84.0,482,265.0,239.0,299.0
12,2290,482,149,202.0,157.0,86.0,497,272.0,244.0,303.0
13,2291,489,149,205.0,159.0,89.0,509,277.0,244.0,305.0
14,2292,502,151,207.0,160.0,89.0,515,284.0,247.0,315.0

In [ ]:
merged = population.merge(techScore, how='right')